/*
 * Copyright (c) 2001 - 2012 Software AG, Darmstadt, Germany 
 * and/or Software AG USA, Inc., Reston, VA, United States of America, 
 * and/or their licensors.
 */
  
/*
 * NOTE: When deploying JAAS configuration on the IBM WebSphere 
 * Application server fails, remove all comments from the 
 * configuration file.
 */

/* 
 * Login context, used in the Platform for default authentication
 */
Default {
	// SSOS login module for SAML signed assertion validation	
	com.softwareag.security.idp.saml.lm.SAMLAssertValidatorLoginModule sufficient;
	
	// Internal repository login module (java based)
	com.softwareag.security.jaas.login.internal.InternalLoginModule required
        template_section=INTERNAL
        logCallback=true
        internalRepository="@path:sag.install.area/common/conf/users.txt"
		create_group_principal=true        
        groupRepositoryPath="@path:sag.install.area/common/conf/groups.txt";
		
	// Role repository login module
	com.softwareag.security.authz.store.jaas.login.RoleLoginModule optional
        storage_location="@path:sag.install.area/common/conf/roles.txt"; 

	// SSOS login module for SAML sign assertion generation
    //com.softwareag.security.idp.saml.lm.SAMLAssertIssuerLoginModule optional;
};

/*
 * Login context, used in common Platform for management channel .
 */
PlatformManagement {
	// SSOS login module for SAML signed assertion validation
	// used for delegated out only for JMX
	com.softwareag.security.idp.saml.lm.JMXDelegatedAuthLoginModule sufficient;
	
	// Internal repository login module (java based)
	com.softwareag.security.jaas.login.internal.InternalLoginModule required
        template_section=INTERNAL
        logCallback=true
        internalRepository="@path:sag.install.area/common/conf/users.txt"; 
	
	// Role repository login module
	com.softwareag.security.authz.store.jaas.login.RoleLoginModule optional
        storage_location="@path:sag.install.area/common/conf/roles.txt";  
}; 



/*
 * Login context, used in System Management Hub, CentraSite, etc.
 */
PluggableUI {
	// Internal repository login module (SSX)
	com.softwareag.security.jaas.login.ssx.SSXLoginModule optional
        template_section=INTERNAL
        logCallback=true
        internalRepository="@path:sag.install.area/common/conf/users.txt";
   
	// Operating system login module (SSX)
	com.softwareag.security.jaas.login.ssx.SSXLoginModule requisite           
        template_section=OS
        CreateGroups=false;
};
