html, body
{
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

#container
{
	width: 100%;
	margin: 0px auto;
	background-color: #fff;
}

#top
{	
	display:block;
	height: 45px;
	background-color: #f1f1f1;
}

#inner-container
{
	margin-left: 30px;
}

hr
{
	margin: 0px;
	color: #dfdfdf;
	background-color: #dfdfdf;
	height: 1px;
	border: 0px;
}

#logo
{
	width: 150px;
	height: 24px;
	border: 0px;
	margin-left: 30px;
	margin-top: 12px;
}

#welcome_text
{
	margin-top: 32px;
	color: #666;
}

#welcome_text h1
{
	font-size: 14px;
	font-weight: bold;
}

#welcome_text p
{
	margin: 0px;
	padding: 0px;
}

